/* * es el selector universal */

* {
    margin: 0;
    padding: 0;
}

/* Color del fondo del body y el color del texto.*/
body,
.bodyIndex {
    background-color: #FFEBE6;
    color: #D12D00;

}

/*Cambiar de claro oscuro el index. invertir los colores.*/
.bodyIndex-oscuro {
    background-color: #D12D00;
    color: #FFEBE6;

}


/* Todos los h1 y h2 al centro*/
h1,
h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
-----------------------------------------------
----------------HEADER--------------------------
-----------------------------------------------*/

/**
Para los colores basandome en el color que usaste para el nav, en esta web: https://htmlcolorcodes.com/es
en variaciones de color ... cogi varios colores para el fondo, texto ... en la carpeta public he puesto una captura 
de los colores


#FFEBE6; - para el fondo del body
#FFC7B8;
#FFAB94; - fonde de color para nav y card
#FF7F5C;
#FF5B2E;
#FF3700;
#D12D00; - para el color del texto y border card y el boton formulario.
#A32300;
#751900;
#470F00; - para el fondo al hacer hover en el boton.
#1A0600;
*/

/* header {
    position: fixed;
    top: 0;
   
} */

.barra-navegacion ul {
    list-style: none;
    /* Quita los puntos de cada apartado*/

    margin: 10px;
    padding: 10px;
    border: 10px;

    display: flex;
    gap: 20px;
    justify-content: center;

    background-color: #ffab94;

    margin-bottom: 20px;

}

.barra-navegacion ul a {
    /* Quita el subrayado del texto.*/
    text-decoration: none;


}

/*
-----------------------------------------------
----------------HEADER--------------------------
-----------------------------------------------*/

/*
-----------------------------------------------
----------------MAIN----------------------------
-----------------------------------------------*/

/*----------- index -----------*/
main {
    width: 80%;
    margin: auto;
}

.homeGridPadre {
    margin: auto;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    gap: 10px;
}

/* Colores div */
.div1 {
    background-color: #FFAB94;
}

.div2 {
    background-color: aquamarine;
}

.div3 {
    background-color: aqua;
}

.homeImagen {
    display: flex;
    justify-content: center;
    margin: 0.5em;

}

.homeImagen img {
    width: 80%;
    border-top-left-radius: 20px;
    border-end-end-radius: 20px;

}


/*----------- fin index -----------*/


/*----------- equipo -----------*/

.equipo {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    border: 2px solid #D12D00;
    padding: 1rem;
    width: 200px;
    text-align: center;
    background-color: #FFAB94;
}

.card img {
    width: 100%;
    height: auto;
}

/* ------fin equipo --------*/


/*------- contacto-----------*/
.formularioContato {
    display: flex;
    justify-content: center;
    align-items: center;
}

form.formularioOpinion {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    margin: auto;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
}

form h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;

}

input,
select {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #D12D00;
    border-radius: 5px;
}

.radio-group,
.respuesta-group {
    margin-top: 5px;
}

.radio-group label,
.respuesta-group label {
    font-weight: normal;
    margin-right: 15px;
    margin-left: 15px;
}

.radio-group input[type="radio"],
.respuesta-group input[type="radio"] {}

.formularioBoton {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 40%;
    background-color: #D12D00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #470F00;
}

/*-------fin contacto --------*/



/*-------inicio se}rvicios------*/
.seccionServicio {
    background-color: bisque;
    display: flex;
    margin-bottom: 20px;

}

.articuloServicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articuloServicio img {
    width: 200px;
    height: auto;

}

.articuloServicio p {
    padding: 5px;
}

.formularioServicio {
    margin: 0 auto;

}


/*--------fin servicios---------*/

/*-----------------------------------------------
----------------MAIN----------------------------
-----------------------------------------------*/

/*--------------------------------------
---------------- Footer -----------------
---------------------------------------*/

footer {
    /* mismo estilo que la nav */
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 50px;
}

footer p a {
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;

}

/* Esta es la parte opiniones con el JS */

.alert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sumar-reset {
    display: flex;
    flex-direction: column;
    /* justify-content: center; solo tendría un efecto visible si tu recuadro blanco fuera más alto que el contenido que tiene dentro. Como no es el caso, la propiedad está ahí pero no produce un cambio visual. */
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    width: 340px;
    margin: 20px auto;
    gap: 10px;
}